
*.svn-base

.svn/all-wcprops

.svn/entries

1/.svn/all-wcprops

1/.svn/dir-prop-base

1/.svn/entries

1/extlibs/.svn/all-wcprops

1/extlibs/.svn/entries

*.tmp

1/pytest/.svn/all-wcprops

1/pytest/.svn/entries
